<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitstudy.web.mapper.ProductMapper">
  <insert id="insertProduct" parameterType="com.bitstudy.web.domain.ProductDTO">
  insert into PRODUCTS (PRODUCT_ID,PRODUCT_NAME,SUPPLIER_ID,CATEGORY_ID,UNIT,PRICE)
  values (#{productId},#{productName},#{supplierId},#{categoryId},#{unit},#{price})
</insert>
  <select id="selectProducts" resultType="com.bitstudy.web.domain.ProductDTO">
    select * from PRODUCTS
  </select>
  <select id="selectProductsByOption" resultType="com.bitstudy.web.domain.ProductDTO" 
                                        parameterType="com.bitstudy.web.domain.ProductDTO">
    select * from PRODUCTS where PRODUCT_NAME = #{productName}
  </select>
  <select id="selectProductByProductId" resultType="com.bitstudy.web.domain.ProductDTO" parameterType="string">
    select * from PRODUCTS where PRODUCT_ID = #{productId}
  </select>

<update id="updateProduct" parameterType="com.bitstudy.web.domain.ProductDTO">
  update PRODUCTS set
    PRODUCT_NAME = #{productName},
    SUPPLIER_ID = #{supplierId},
    CATEGORY_ID = #{categoryId},
    UNIT = #{unit},
    PRICE = #{price}
  where PRODUCT_ID = #{productId}
</update>

<delete id="deleteProduct" parameterType="com.bitstudy.web.domain.ProductDTO">
  delete from PRODUCT_ID = #{productId}
</delete>
</mapper>