<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.web.mapper.ShipperMapper">

  <resultMap id="shipperMap" type="com.bitstudy.web.domain.ShipperDTO">
    <id property="shipperId" column="SHIPPER_ID"/>
    <id property="shipperName" column="SHIPPER_NAME"/>
    <id property="phone" column="PHONE"/>
  </resultMap>
  
  <insert id="insertShipper" parameterType="com.bitstudy.web.domain.ShipperDTO">
  insert into SHIPPERS (SHIPPER_ID,SHIPPER_NAME,PHONE)
  values (#{shipperId},#{shipperName},#{phone})
  </insert>
  <select id="selectShippers" resultMap="shipperMap">
    select * from SHIPPERS
  </select>
  <select id="selectShippersByOption" resultMap="shipperMap" parameterType="com.bitstudy.web.domain.ShipperDTO">
    select * from SHIPPERS where SHIPPER_NAME = #{shipperName}
  </select>
  <select id="selectShipperByShipperId" resultMap="shipperMap" parameterType="string">
    select * from SHIPPERS where SHIPPER_ID = #{shipperId}
  </select>

  <update id="updateShipper" parameterType="com.bitstudy.web.domain.ShipperDTO">
  update SHIPPERS set
    SHIPPER_NAME = #{shipperName},
    PHONE = #{phone}
  where SHIPPER_ID = #{shipperId}
  </update>

  <delete id="deleteShipper" parameterType="com.bitstudy.web.domain.ShipperDTO">
  delete from SHIPPERS SHIPPER_ID = #{shipperId}
  </delete>
</mapper>